<table>
  <thead>
    <tr>
      <td (click)="ordenar('title')" >TITLE
        <span *ngIf="campo =='title'">
          <span *ngIf="ascendente"> Asc</span>
          <span *ngIf="descendente"> Desc</span>
        </span>       
      </td>
      <td (click)="ordenar('director')">DIRECTOR
        <span *ngIf="campo =='director'">
          <span *ngIf="ascendente"> Asc</span>
          <span *ngIf="descendente"> Desc</span>
        </span> 
      </td> 
      <td (click)="ordenar('year')">YEAR
        <span *ngIf="campo =='year'">
          <span *ngIf="ascendente"> Asc</span>
          <span *ngIf="descendente"> Desc</span>
        </span> 
      </td>  
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pelicula of listaDePeliculas">
      <td >{{pelicula.title}}</td><td>{{pelicula.director}}</td><td>{{pelicula.year}}</td>
    </tr>
  </tbody>
</table>
